<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 mx-5 px-3">会員情報編集</h5></br>
    </div>
    
    <div class="col-10 mx-auto">
      
      <%= form_with model: @customer, url: customers_information_path, :class => "form-horizontal" do |f| %>
      
        <div class="row mb-3 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">氏名</label>
          <div class="col-sm-3">
            <%= f.text_field :last_name, :class => "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">フリガナ</label>
          <div class="col-sm-3">
            <%= f.text_field :last_name_kana, :class => "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :first_name_kana, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">郵便番号</label>
          <div class="col-sm-3">
            <%= f.text_field :postal_code, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">住所</label>
          <div class="col-sm">
            <%= f.text_field :address, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">電話番号</label>
          <div class="col-sm-3">
            <%= f.text_field :telephone_number, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-4 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">メールアドレス</label>
          <div class="col-sm-3">
            <%= f.email_field :email, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label"></label>
          <%= f.submit "編集内容を保存", :class => "btn btn-success px-4 py-2 ml-3" %>
          <label class="col-sm-3 control-label"></label>
          <%= link_to "退会する", customers_withdraw_confirm_path, :class => "btn btn-danger px-4 py-2" %>
        </div>
        
      <% end %>
    </div>
    
      

  </div>
</div>