<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 mx-5 px-3">商品一覧</h5>
      
      <div class="d-inline-block my-5 ml-auto mr-5" >
        <%= link_to '+', new_admin_item_path, :class => "btn btn-lg btn-outline-secondary rounded-circle p-0",
      :style =>"width:2rem;height:2rem;" %>
      </div>
    </div>
      
    <div class="col-12">
      <table class="table">
        <thead class="table-active">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><u><%= link_to item.name, admin_item_path(item.id) %></u></td>
              <td><%= item.price.to_s(:delimited, delimiter: ',') %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_active? %>
                <td class="text-success"><strong>販売中</strong></td>
              <% else %>
                <td class="text-secondary"><strong>販売中止</strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  
  <%= paginate @items %>
  </div>
</div>
