<div class="container">
  <div class="row">
    <div class="col-12">
      <label class="my-5">商品新規登録</label>
      
      <%= form_with model: @item, url: admin_items_path do |f| %>
      
      <div class="form-group">
        <label for="item_image">商品画像</label>
        <%= f.file_field :item_image %>
      </div>
      
      <div class="form-group">
        <label for="item_name">商品名</label>
        <%= f.text_field :name, :placeholder => "商品名"  %>
      </div>
      
      <div class="form-group">
        <label for="item_introduction">商品説明</label>
        <%= f.text_area :introduction, :placeholder => "ここに説明文を記述します"  %>
      </div>
      
      <div class="form-group">
        <label for="item_genre">ジャンル</label>
        <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] }, include_blank: "-- 選択してください --" %>
      </div>
      
      <div class="form-group">
        <label for="item_price">税抜価格</label>
        <%= f.text_field :price, :placeholder => "1000" %>円
      </div>
      
      <div class="form-group">
        <label for="item_is_active">販売ステータス</label>
        <%= f.radio_button :is_active, :true %> 販売中
        <%= f.radio_button :is_active, :false %> 販売停止中
      </div>
      
      <div class="form-group">
        <%= f.submit "新規登録", :class => "btn btn-success" %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>
