<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 mx-5 px-3">
        <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集
      </h5></br>
    </div>
    
    <div class="col-10 mx-auto">
      
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), :class => "form-horizontal" do |f| %>
        <div class="row mb-3">
          <label class="col-sm-3">会員ID</label>
          <div class="col-sm-3 ml-3"><%= @customer.id %></div>
        </div>
      
        <div class="row mb-3">
          <label class="col-sm-3 control-label">氏名</label>
          <div class="col-sm-3">
            <%= f.text_field :last_name, :class => "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label">フリガナ</label>
          <div class="col-sm-3">
            <%= f.text_field :last_name_kana, :class => "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :first_name_kana, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label">郵便番号</label>
          <div class="col-sm-3">
            <%= f.text_field :postal_code, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label">住所</label>
          <div class="col-sm">
            <%= f.text_field :address, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label">電話番号</label>
          <div class="col-sm-3">
            <%= f.text_field :telephone_number, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label">メールアドレス</label>
          <div class="col-sm-3">
            <%= f.email_field :email, :class => "form-control" %>
          </div>
        </div>
        
        <div class="row mb-5">
          <label class="col-sm-3 control-label">会員ステータス</label>
          <div class="col-sm-6 form-check form-check-inline px-2">
              <%= f.radio_button :is_deleted, :false, :class => "form-check-input mx-2" %>
              <label class="form-check-label">有効</label>
              <%= f.radio_button :is_deleted, :true, :class => "form-check-input mx-2" %>
              <label class="form-check-label">退会</label>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-3 control-label"></label>
          <%= f.submit "変更を保存", :class => "btn btn-success px-4 py-2 ml-3" %>
        </div>
        
      <% end %>
    </div>
    
      

  </div>
</div>
    
