<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 mx-5 px-3">
        <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
      </h5></br>
    </div>
    
    <div class="col-10 mx-auto">
      <div class="row mb-3">
        <label class="col-sm-3">会員ID</label>
        <%= @customer.id %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">氏名</label>
        <%= @customer.last_name %>　<%= @customer.first_name %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">フリガナ</label>
        <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">郵便番号</label>
        <%= @customer.postal_code %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">住所</label>
        <%= @customer.address %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">電話番号</label>
        <%= @customer.telephone_number %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">メールアドレス</label>
        <%= @customer.email %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3">会員ステータス</label>
        <% if @customer.is_deleted? %>
          <span class="text-secondary"><strong>退会</strong></span>
        <% else %>
          <span class="text-success"><strong>有効</strong></span>
        <% end %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3"></label>
        <%= link_to '編集する', edit_admin_customer_path, :class => "btn btn-success px-4 py-2 mr-5" %>
        <%= link_to '注文履歴一覧を見る', edit_admin_customer_path, :class => "btn btn-primary px-4 py-2" %>
      </div>
      
    </div>
  </div>
</div>
    
