<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 mx-5 px-3">配送先編集</h5></br>
    </div>
    
    <div class="col-10" style="height: 500px;">
      <%= form_with model: @address, url: address_path(@address.id), :class => "form-horizontal" do |f| %>
      
        <div class="row ml-3 mb-2 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">郵便番号(ハイフンなし)</label>
          <div class="col-sm-3">
            <%= f.text_field :postal_code, :class => "form-control-sm" %>
          </div>
        </div>
        
        <div class="row ml-3 mb-2 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">住所</label>
          <div class="col-sm">
            <%= f.text_field :address, :class => "form-control-sm col-9" %>
          </div>
        </div>
        
        <div class="row ml-3 mb-2 d-flex align-items-center">
          <label class="col-sm-3 control-label mb-0">宛名</label>
          <div class="col-sm-3">
            <%= f.text_field :name, :class => "form-control-sm" %>
          </div>
          <div class="col-sm-6" style="text-align: right;">
            <%= f.submit "変更内容を保存", :class => "btn btn-sm btn-success px-4" %>
          </div>
        </div>
        
      <% end %>
    </div>
