<div class="container">
  <div class="row">
    
    <%= render 'public/homes/sidebar', genres: @genres %>
    
    <div class="col-8 my-5">
      <div class="row">
        <div class="col-md d-inline-block">
          <%= image_tag @item.get_item_image(250,350) %>
        </div>
        <div class="col-md d-inline-block">
          <h4><%= @item.name %></h4>
          <p><%= @item.introduction %></p>
          <p>
            <strong><big>
              ￥<%= @item.with_tax_price.to_s(:delimited, delimiter: ',' ) %>
            </big></strong>
            <small>（税込）</small>
          </p>
          
          <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.select :amount, *[1..5], :class => "form-control", include_blank: "個数選択" %>
            <%= f.submit 'カートに入れる', :class => "btn btn-sm btn-success ml-5 px-4" %>
          <% end %>
          
        </div>
      </div>
    </div>
  
  </div>
  
</div>
